:root {
  --border-width-s: 0.0625rem;
  --border-width-m: 0.125rem;
  --border-width-l: 0.25rem;
  --border-style-solid: solid;
  --border-style-dashed: dashed;
  --border-radius-none: 0rem;
  --border-radius-s: 0.0625rem;
  --border-radius-m: 0.125rem;
  --border-radius-l: 0.25rem;
  --border-radius-xl: 624.9378rem;
  --font-family-sans-serif: HelveticaNow,Helvetica,sans-serif;
  --font-family-serif: Tiempos,Times New Roman,serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --grid-gutter: 0.75rem;
  --grid-margin: 1.5rem;
  --grid-max-width: 80rem;
  --grid-columns: 12;
  --opacity-disabled: 0.25;
  --ratio-portrait: 0.693;
  --ratio-almost-square: 1.04;
  --ratio-square: 1;
  --ratio-half-time: 1.386;
  --ratio-third-party: 2.079;
  --ratio-quarterback: 2.772;
  --ratio-fifth-element: 3.465;
  --ratio-sixth-sense: 4.158;
  --ratio-achtung: 5.544;
  --ratio-sixteen-by-nine: 1.778;
  --ratio-nine-by-sixteen: 0.562;
  --ratio-four-by-five: 0.8;
  --size-icon-2xs: 0.75rem;
  --size-icon-xs: 1rem;
  --size-icon-s: 1.25rem;
  --size-icon-m: 1.5rem;
  --size-icon-l: 2rem;
  --size-icon-xl: 3rem;
  --spacing-none: 0rem;
  --spacing-3xs: 0.25rem;
  --spacing-2xs: 0.5rem;
  --spacing-xs: 0.75rem;
  --spacing-s: 1rem;
  --spacing-m: 1.5rem;
  --spacing-l: 2.25rem;
  --spacing-xl: 3rem;
  --spacing-2xl: 4rem;
  --typography-body-font-size: 1rem;
  --typography-body-font-weight: 400;
  --typography-body-line-height: 1.5rem;
  --typography-body-letter-spacing: -0.01rem;
  --typography-body-small-font-size: 0.875rem;
  --typography-body-small-font-weight: 400;
  --typography-body-small-line-height: 1.25rem;
  --typography-body-small-letter-spacing: 0rem;
  --typography-body-extra-small-font-size: 0.75rem;
  --typography-body-extra-small-font-weight: 400;
  --typography-body-extra-small-line-height: 1rem;
  --typography-body-extra-small-letter-spacing: 0rem;
  --typography-body-large-font-size: 1.375rem;
  --typography-body-large-font-weight: 400;
  --typography-body-large-line-height: 1.75rem;
  --typography-body-large-letter-spacing: -0.01375rem;
  --typography-h1-font-size: 1.75rem;
  --typography-h1-font-weight: 700;
  --typography-h1-sans-serif-font-weight: 700;
  --typography-h1-sans-serif-text-transform: none;
  --typography-h1-serif-font-weight: 400;
  --typography-h1-serif-text-transform: none;
  --typography-h1-font-variation-width: 100;
  --typography-h1-line-height: 2.25rem;
  --typography-h1-letter-spacing: -0.0175rem;
  --typography-h1-text-transform: none;
  --typography-h2-font-size: 1.5rem;
  --typography-h2-font-weight: 700;
  --typography-h2-sans-serif-font-weight: 700;
  --typography-h2-sans-serif-text-transform: none;
  --typography-h2-serif-font-weight: 400;
  --typography-h2-serif-text-transform: none;
  --typography-h2-font-variation-width: 100;
  --typography-h2-line-height: 2rem;
  --typography-h2-letter-spacing: -0.015rem;
  --typography-h2-text-transform: none;
  --typography-h3-font-size: 1.25rem;
  --typography-h3-font-weight: 700;
  --typography-h3-sans-serif-font-weight: 700;
  --typography-h3-sans-serif-text-transform: none;
  --typography-h3-serif-font-weight: 400;
  --typography-h3-serif-text-transform: none;
  --typography-h3-font-variation-width: 100;
  --typography-h3-line-height: 1.75rem;
  --typography-h3-letter-spacing: -0.0125rem;
  --typography-h3-text-transform: none;
  --typography-h4-font-size: 1.125rem;
  --typography-h4-font-weight: 700;
  --typography-h4-sans-serif-font-weight: 700;
  --typography-h4-sans-serif-text-transform: none;
  --typography-h4-serif-font-weight: 400;
  --typography-h4-serif-text-transform: none;
  --typography-h4-font-variation-width: 100;
  --typography-h4-line-height: 1.5rem;
  --typography-h4-letter-spacing: -0.01125rem;
  --typography-h4-text-transform: none;
  --typography-h5-font-size: 1rem;
  --typography-h5-font-weight: 700;
  --typography-h5-sans-serif-font-weight: 700;
  --typography-h5-sans-serif-text-transform: none;
  --typography-h5-serif-font-weight: 700;
  --typography-h5-serif-text-transform: none;
  --typography-h5-font-variation-width: 100;
  --typography-h5-line-height: 1.5rem;
  --typography-h5-letter-spacing: -0.01rem;
  --typography-h5-text-transform: none;
  --typography-h6-font-size: 0.875rem;
  --typography-h6-font-weight: 700;
  --typography-h6-sans-serif-font-weight: 700;
  --typography-h6-sans-serif-text-transform: none;
  --typography-h6-serif-font-weight: 700;
  --typography-h6-serif-text-transform: none;
  --typography-h6-font-variation-width: 100;
  --typography-h6-line-height: 1.25rem;
  --typography-h6-letter-spacing: 0rem;
  --typography-h6-text-transform: none;
  --typography-jumbo1-font-size: 3.5rem;
  --typography-jumbo1-font-weight: 700;
  --typography-jumbo1-font-variation-width: 100;
  --typography-jumbo1-line-height: 4rem;
  --typography-jumbo1-letter-spacing: -0.035rem;
  --typography-jumbo1-text-transform: none;
  --typography-jumbo2-font-size: 3rem;
  --typography-jumbo2-font-weight: 700;
  --typography-jumbo2-font-variation-width: 100;
  --typography-jumbo2-line-height: 3.5rem;
  --typography-jumbo2-letter-spacing: -0.03rem;
  --typography-jumbo2-text-transform: none;
  --typography-jumbo3-font-size: 2.5rem;
  --typography-jumbo3-font-weight: 700;
  --typography-jumbo3-font-variation-width: 100;
  --typography-jumbo3-line-height: 3rem;
  --typography-jumbo3-letter-spacing: -0.025rem;
  --typography-jumbo3-text-transform: none;
  --typography-jumbo4-font-size: 2.25rem;
  --typography-jumbo4-font-weight: 700;
  --typography-jumbo4-font-variation-width: 100;
  --typography-jumbo4-line-height: 2.75rem;
  --typography-jumbo4-letter-spacing: -0.0225rem;
  --typography-jumbo4-text-transform: none;
}
:root, :root ._ZDS_REF_SCOPE_ {
  --component-button-border-radius: var(--border-radius-none);
  --component-card-border-radius: var(--border-radius-none);
  --component-icon-button-border-radius: var(--border-radius-none);
  --component-input-border-radius: var(--border-radius-none);
  --component-link-default-element-label-font-family: var(--font-family-sans-serif);
  --component-link-default-element-label-typography-small-font-size: var(--typography-body-small-font-size);
  --component-link-default-element-label-typography-small-font-weight: var(--font-weight-normal);
  --component-link-default-element-label-typography-small-line-height: var(--typography-body-small-line-height);
  --component-link-default-element-label-typography-small-letter-spacing: var(--typography-body-small-letter-spacing);
  --component-link-default-element-label-typography-medium-font-size: var(--typography-body-small-font-size);
  --component-link-default-element-label-typography-medium-font-weight: var(--font-weight-bold);
  --component-link-default-element-label-typography-medium-line-height: var(--typography-body-small-line-height);
  --component-link-default-element-label-typography-medium-letter-spacing: var(--typography-body-small-letter-spacing);
  --component-link-default-element-label-typography-large-font-size: var(--typography-body-font-size);
  --component-link-default-element-label-typography-large-font-weight: var(--font-weight-bold);
  --component-link-default-element-label-typography-large-line-height: var(--typography-body-line-height);
  --component-link-default-element-label-typography-large-letter-spacing: var(--typography-body-letter-spacing);
  --component-link-default-element-underline-border-width: var(--border-width-s);
  --component-link-default-element-underline-border-width-hover: var(--border-width-m);
  --component-link-default-element-underline-border-width-focus: var(--border-width-m);
  --component-link-default-element-underline-border-width-pressed: var(--border-width-m);
  --component-link-default-element-icon-display: none;
  --component-link-navigational-element-label-typography-small-font-weight: var(--font-weight-normal);
  --component-link-navigational-element-label-typography-medium-font-weight: var(--font-weight-bold);
  --component-link-navigational-element-label-typography-large-font-weight: var(--font-weight-bold);
  --component-link-icon-element-icon-display: block;
  --component-message-default-spacing-padding: var(--spacing-s);
  --component-wishlist-border-radius: var(--border-radius-none);
}
@media (min-width: 48rem) {
  :root {
    --grid-gutter: 1rem;
    --grid-margin: 2rem;
  }
}
@media (min-width: 64rem) {
  :root {
    --typography-h1-font-size: 2.5rem;
    --typography-h1-line-height: 3rem;
    --typography-h1-letter-spacing: -0.025rem;
    --typography-h2-font-size: 2rem;
    --typography-h2-line-height: 2.25rem;
    --typography-h2-letter-spacing: -0.02rem;
    --typography-h3-font-size: 1.75rem;
    --typography-h3-line-height: 2rem;
    --typography-h3-letter-spacing: -0.0175rem;
    --typography-h4-font-size: 1.5rem;
    --typography-h4-line-height: 1.75rem;
    --typography-h4-letter-spacing: -0.015rem;
    --typography-jumbo1-font-size: 4.5rem;
    --typography-jumbo1-line-height: 5.25rem;
    --typography-jumbo1-letter-spacing: -0.045rem;
    --typography-jumbo2-font-size: 4rem;
    --typography-jumbo2-line-height: 4.5rem;
    --typography-jumbo2-letter-spacing: -0.04rem;
    --typography-jumbo3-font-size: 3.5rem;
    --typography-jumbo3-line-height: 4rem;
    --typography-jumbo3-letter-spacing: -0.035rem;
    --typography-jumbo4-font-size: 3rem;
    --typography-jumbo4-line-height: 3.5rem;
    --typography-jumbo4-letter-spacing: -0.03rem;
  }
}
:is(:root, :root._LM, :root ._LM) {
  --color-background-transparent: #00000000;
  --color-background-default: #ffffff;
  --color-background-primary: #1a1a1a;
  --color-background-secondary: #66676e;
  --color-background-tertiary: #efeff0;
  --color-background-positive: #00875a;
  --color-background-negative: #d9000c;
  --color-background-brand: #ff4c00;
  --color-background-sale: #d9000c;
  --color-background-overlay: #1a1a1a80;
  --color-background-hover: #1a1a1a33;
  --color-background-selected: #1a1a1a1a;
  --color-background-pressed: #1a1a1a66;
  --color-background-focus: #1a1a1a4d;
  --color-border-primary: #1a1a1a;
  --color-border-secondary: #d0d1d3;
  --color-border-positive: #00875a;
  --color-border-negative: #d9000c;
  --color-border-interactive: #6328e0;
  --color-border-hover: #1a1a1a;
  --color-border-selected: #1a1a1a;
  --color-border-pressed: #1a1a1a;
  --color-border-focus: #1a1a1a;
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #66676e;
  --color-text-positive: #00875a;
  --color-text-negative: #d9000c;
  --color-text-interactive: #6328e0;
  --color-text-brand: #ff4c00;
  --color-text-sale: #d9000c;
  --color-text-inverse: #ffffff;
  --color-text-hover: #1a1a1a;
  --color-text-selected: #1a1a1a;
  --color-text-pressed: #1a1a1a;
  --color-text-focus: #1a1a1a;
}
:is(:root, :root._LM, :root ._LM) ._ZDS_REF_SCOPE_ {
  --component-flag-default-color-text: var(--color-text-primary);
  --component-flag-default-color-background: var(--color-background-default);
  --component-flag-strong-color-text: var(--color-text-inverse);
  --component-flag-strong-color-background: var(--color-background-primary);
  --component-flag-subtle-color-text: var(--color-text-primary);
  --component-flag-subtle-color-background: var(--color-background-tertiary);
  --component-flag-sale-color-text: var(--color-text-inverse);
  --component-flag-sale-color-background: var(--color-background-sale);
  --component-flag-negative-color-text: var(--color-text-negative);
  --component-flag-negative-color-background: var(--color-background-default);
  --component-flag-positive-color-text: var(--color-text-inverse);
  --component-flag-positive-color-background: var(--color-background-positive);
  --component-link-default-element-label-color-text: var(--color-text-interactive);
  --component-link-default-element-underline-color-border: transparent;
  --component-link-navigational-element-label-color-text: var(--color-text-primary);
  --component-link-navigational-element-underline-color-border: transparent;
  --component-link-icon-element-underline-color-border: transparent;
  --component-message-default-color-background: var(--color-background-tertiary);
  --component-wishlist-color-background: var(--color-background-default);
  --component-wishlist-color-icon: var(--color-text-primary);
  --component-wishlist-color-selected: var(--color-text-brand);
}
:is(:root._MM, :root ._MM) {
  --color-background-default: #ffffff;
  --color-background-primary: #1a1a1a;
  --color-background-secondary: #b6b8bc;
  --color-background-tertiary: #efeff0;
  --color-background-positive: #1a1a1a;
  --color-background-negative: #1a1a1a;
  --color-background-brand: #1a1a1a;
  --color-background-hover: #1a1a1a99;
  --color-background-selected: #1a1a1a66;
  --color-background-pressed: #1a1a1ab3;
  --color-background-focus: #1a1a1a99;
  --color-border-primary: #1a1a1a;
  --color-border-secondary: #1a1a1a66;
  --color-border-positive: #1a1a1a;
  --color-border-negative: #1a1a1a;
  --color-border-interactive: #1a1a1a;
  --color-border-hover: #1a1a1a;
  --color-border-selected: #1a1a1a;
  --color-border-pressed: #1a1a1a;
  --color-border-focus: #1a1a1a;
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #1a1a1a;
  --color-text-positive: #1a1a1a;
  --color-text-negative: #1a1a1a;
  --color-text-interactive: #1a1a1a;
  --color-text-brand: #1a1a1a;
  --color-text-sale: #1a1a1a;
  --color-text-inverse: #ffffff;
  --color-text-hover: #ffffff;
  --color-text-selected: #ffffff;
  --color-text-pressed: #ffffff;
  --color-text-focus: #ffffff;
}
:is(:root._MM, :root ._MM) ._ZDS_REF_SCOPE_ {
  --component-link-default-element-underline-color-border: inherit;
  --component-link-icon-element-underline-color-border: transparent;
}
:is(:root._DM, :root ._DM) {
  --color-background-default: #1a1a1a;
  --color-background-primary: #ffffff;
  --color-background-secondary: #d0d1d3;
  --color-background-tertiary: #66676e;
  --color-background-positive: #ffffff;
  --color-background-negative: #ffffff;
  --color-background-brand: #ffffff;
  --color-background-hover: #ffffffb3;
  --color-background-selected: #ffffff99;
  --color-background-pressed: #ffffffcc;
  --color-background-focus: #ffffffb3;
  --color-border-primary: #ffffff;
  --color-border-secondary: #ffffff66;
  --color-border-positive: #ffffff;
  --color-border-negative: #ffffff;
  --color-border-interactive: #ffffff;
  --color-border-hover: #ffffff;
  --color-border-selected: #ffffff;
  --color-border-pressed: #ffffff;
  --color-border-focus: #ffffff;
  --color-text-primary: #ffffff;
  --color-text-secondary: #ffffff;
  --color-text-positive: #ffffff;
  --color-text-negative: #ffffff;
  --color-text-interactive: #ffffff;
  --color-text-brand: #ffffff;
  --color-text-sale: #ffffff;
  --color-text-inverse: #1a1a1a;
  --color-text-hover: #1a1a1a;
  --color-text-selected: #1a1a1a;
  --color-text-pressed: #1a1a1a;
  --color-text-focus: #1a1a1a;
}
:is(:root._DM, :root ._DM) ._ZDS_REF_SCOPE_ {
  --component-link-default-element-underline-color-border: inherit;
  --component-link-icon-element-underline-color-border: transparent;
}
:root ._TD {
  --typography-jumbo1-font-weight: 400;
  --typography-jumbo1-text-transform: uppercase;
  --typography-jumbo2-font-weight: 400;
  --typography-jumbo2-text-transform: uppercase;
  --typography-jumbo3-font-weight: 400;
  --typography-jumbo3-text-transform: uppercase;
  --typography-jumbo4-font-size: 2.75rem;
  --typography-jumbo4-font-weight: 400;
  --typography-jumbo4-line-height: 2.25rem;
  --typography-jumbo4-text-transform: uppercase;
  --typography-h1-font-weight: 400;
  --typography-h1-text-transform: uppercase;
  --typography-h1-sans-serif-text-transform: uppercase;
  --typography-h1-serif-text-transform: uppercase;
  --typography-h2-font-weight: 400;
  --typography-h2-text-transform: uppercase;
  --typography-h2-sans-serif-text-transform: uppercase;
  --typography-h2-serif-text-transform: uppercase;
  --typography-h3-font-weight: 400;
  --typography-h3-text-transform: uppercase;
  --typography-h3-sans-serif-text-transform: uppercase;
  --typography-h3-serif-text-transform: uppercase;
  --typography-h4-font-weight: 400;
  --typography-h4-text-transform: uppercase;
  --typography-h4-sans-serif-text-transform: uppercase;
  --typography-h4-serif-text-transform: uppercase;
  --typography-h5-font-weight: 400;
  --typography-h5-text-transform: uppercase;
  --typography-h5-sans-serif-text-transform: uppercase;
  --typography-h5-serif-text-transform: uppercase;
}
:root ._TD, :root ._TD ._ZDS_REF_SCOPE_ {
  --component-wishlist-border-radius: var(--border-radius-xl);
  --component-message-default-spacing-padding: var(--spacing-none);
  --component-link-default-element-label-typography-small-font-weight: var(--font-weight-normal);
  --component-link-default-element-label-typography-medium-font-weight: var(--font-weight-normal);
  --component-link-default-element-label-typography-large-font-weight: var(--font-weight-normal);
  --component-link-icon-element-icon-display: none;
}
@media (min-width: 64rem) {
  :root ._TD {
    --typography-jumbo3-font-size: 3.75rem;
    --typography-jumbo3-line-height: 4.25rem;
    --typography-jumbo4-font-size: 3.5rem;
    --typography-jumbo4-line-height: 4rem;
    --typography-h1-font-size: 2.75rem;
    --typography-h1-line-height: 3.5rem;
    --typography-h2-font-size: 2.5rem;
    --typography-h2-line-height: 3rem;
    --typography-h3-font-size: 2.25rem;
    --typography-h3-line-height: 2.5rem;
    --typography-h4-font-size: 2rem;
    --typography-h4-line-height: 2.25rem;
    --typography-h5-font-size: 1.125rem;
  }
}
:is(:root ._TD, :root ._TD._LM, :root ._TD ._LM) {
  --color-background-brand: #1a1a1a;
  --color-border-secondary: #1a1a1a;
  --color-text-interactive: #1a1a1a;
  --color-text-brand: #1a1a1a;
  --color-text-sale: #1a1a1a;
}
:is(:root ._TD, :root ._TD._LM, :root ._TD ._LM) ._ZDS_REF_SCOPE_ {
  --component-flag-negative-color-text: var(--color-text-primary);
  --component-flag-negative-color-background: var(--color-background-default);
  --component-flag-positive-color-text: var(--color-text-primary);
  --component-flag-positive-color-background: var(--color-background-default);
  --component-link-default-element-label-color-text: var(--color-text-primary);
  --component-link-default-element-underline-color-border: inherit;
  --component-link-icon-element-underline-color-border: inherit;
  --component-message-default-color-background: var(--color-background-transparent);
  --component-wishlist-color-background: var(--color-background-tertiary);
  --component-wishlist-color-selected: var(--color-text-primary);
}
:is(:root ._TD._MM, :root ._TD ._MM) {
  --color-background-brand: #1a1a1a;
  --color-border-secondary: #1a1a1a66;
  --color-text-interactive: #1a1a1a;
  --color-text-brand: #1a1a1a;
  --color-text-sale: #1a1a1a;
}
:is(:root ._TD._MM, :root ._TD ._MM) ._ZDS_REF_SCOPE_ {
  --component-flag-negative-color-text: var(--color-text-negative);
  --component-flag-negative-color-background: var(--color-background-default);
  --component-flag-positive-color-text: var(--color-text-inverse);
  --component-flag-positive-color-background: var(--color-background-positive);
  --component-link-default-element-label-color-text: var(--color-text-interactive);
  --component-link-default-element-underline-color-border: inherit;
  --component-link-icon-element-underline-color-border: inherit;
  --component-message-default-color-background: var(--color-background-tertiary);
  --component-wishlist-color-background: var(--color-background-default);
  --component-wishlist-color-selected: var(--color-text-brand);
}
:is(:root ._TD._DM, :root ._TD ._DM) {
  --color-background-brand: #ffffff;
  --color-border-secondary: #ffffff66;
  --color-text-interactive: #ffffff;
  --color-text-brand: #ffffff;
  --color-text-sale: #ffffff;
}
:is(:root ._TD._DM, :root ._TD ._DM) ._ZDS_REF_SCOPE_ {
  --component-flag-negative-color-text: var(--color-text-negative);
  --component-flag-negative-color-background: var(--color-background-default);
  --component-flag-positive-color-text: var(--color-text-inverse);
  --component-flag-positive-color-background: var(--color-background-positive);
  --component-link-default-element-label-color-text: var(--color-text-interactive);
  --component-link-default-element-underline-color-border: inherit;
  --component-link-icon-element-underline-color-border: inherit;
  --component-message-default-color-background: var(--color-background-tertiary);
  --component-wishlist-color-background: var(--color-background-default);
  --component-wishlist-color-selected: var(--color-text-brand);
}
:root ._TL, :root ._TL ._ZDS_REF_SCOPE_ {
  --component-button-border-radius: var(--border-radius-xl);
  --component-input-border-radius: var(--border-radius-l);
}
:root ._TSR {
  --typography-body-large-font-weight: 400;
  --typography-body-large-font-size: 1.375rem;
  --typography-body-large-line-height: 2rem;
  --typography-body-large-letter-spacing: -0.01875rem;
  --typography-h1-font-weight: 400;
  --typography-h1-font-size: 1.875rem;
  --typography-h1-line-height: 2.25rem;
  --typography-h1-letter-spacing: -0.03125rem;
  --typography-h1-sans-serif-text-transform: uppercase;
  --typography-h1-serif-text-transform: none;
  --typography-h2-font-weight: 400;
  --typography-h2-font-size: 1.625rem;
  --typography-h2-line-height: 1.875rem;
  --typography-h2-letter-spacing: -0.03125rem;
  --typography-h2-sans-serif-text-transform: uppercase;
  --typography-h2-serif-text-transform: none;
  --typography-h3-font-weight: 400;
  --typography-h3-font-size: 1.5rem;
  --typography-h3-line-height: 1.75rem;
  --typography-h3-letter-spacing: -0.01875rem;
  --typography-h3-sans-serif-text-transform: uppercase;
  --typography-h3-serif-text-transform: none;
  --typography-h4-font-weight: 400;
  --typography-h4-font-size: 1.375rem;
  --typography-h4-line-height: 1.625rem;
  --typography-h4-letter-spacing: -0.01875rem;
  --typography-h4-sans-serif-text-transform: uppercase;
  --typography-h4-serif-text-transform: none;
  --typography-h5-font-weight: 400;
  --typography-h5-font-size: 1.125rem;
  --typography-h5-line-height: 1.25rem;
  --typography-h5-letter-spacing: -0.006rem;
  --typography-h5-sans-serif-text-transform: uppercase;
  --typography-h5-serif-text-transform: none;
  --typography-h6-font-weight: 400;
  --typography-h6-font-size: 0.875rem;
  --typography-h6-line-height: 1rem;
  --typography-h6-letter-spacing: -0.006rem;
  --typography-h6-sans-serif-text-transform: uppercase;
  --typography-h6-serif-text-transform: none;
}
:root ._TSR, :root ._TSR ._ZDS_REF_SCOPE_ {
  --component-button-border-radius: 0.75rem;
  --component-card-border-radius: 1rem;
  --component-icon-button-border-radius: var(--border-radius-xl);
  --component-link-default-element-label-typography-small-font-weight: var(--font-weight-normal);
  --component-link-default-element-label-typography-medium-font-weight: var(--font-weight-normal);
  --component-link-default-element-label-typography-large-font-weight: var(--font-weight-normal);
  --component-wishlist-border-radius: var(--border-radius-xl);
}
@media (min-width: 64rem) {
  :root ._TSR {
    --typography-h1-font-size: 2.25rem;
    --typography-h1-line-height: 2.625rem;
    --typography-h1-letter-spacing: -0.03125rem;
    --typography-h2-font-size: 2rem;
    --typography-h2-line-height: 2.375rem;
    --typography-h2-letter-spacing: -0.03125rem;
    --typography-h3-font-size: 1.75rem;
    --typography-h3-line-height: 2rem;
    --typography-h3-letter-spacing: -0.01875rem;
    --typography-h4-font-size: 1.375rem;
    --typography-h4-line-height: 1.625rem;
    --typography-h4-letter-spacing: -0.01875rem;
    --typography-h5-font-size: 1.125rem;
    --typography-h5-line-height: 1.25rem;
    --typography-h5-letter-spacing: -0.006rem;
    --typography-h6-font-size: 0.875rem;
    --typography-h6-line-height: 1rem;
    --typography-h6-letter-spacing: -0.006rem;
  }
}
:is(:root ._TSR, :root ._TSR._LM, :root ._TSR ._LM) {
  --color-background-default: #ffffff;
}
:is(:root ._TSR._MM, :root ._TSR ._MM) {
  --color-background-default: #ffffff;
}
:is(:root ._TSR._DM, :root ._TSR ._DM) {
  --color-background-default: #000000;
}